@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap');

// some styles
html,
body {
     font-family: 'Montserrat', sans-serif;
}

.fillGray:hover {
     fill: gray
}

#nav {
     transition: all 3s;
}

// svg
.fbLogo {
     :hover {
          fill: #1976d2;
     }
}

.instaLogo {
     fill: black;
}

// grid styles
.grid {
     display: grid;
     grid-gap: 1rem;
     grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 700px) {
     .grid {
          grid-template-columns: repeat(3, 1fr)
     }
}

@media screen and (max-width: 768px) {
     .arrows{
          display: none;
     }
}

@media screen and (min-width: 1000px) {
     .grid {
          grid-template-columns: repeat(4, 1fr)
     }
}

.slick-slide img {
     margin: auto;
}

// Carousel Styles
.dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }
   
.active, .dot:hover {
     background-color: #717171;
}

.arrows{
     top: 225px;
}

.max1200{
     max-width: 1200px;
}